html,
body,
p {
    margin: 0;
    padding: 0;
}

.van-toast {
    width: auto;
}

.van-list__finished-text {
    font-size: 34px;
    margin-bottom: 20px;
}

.van-toast {
    font-size: 38px;
    width: 30%;
    height: auto;
}

.van-field--error .van-field__control,
.van-field--error .van-field__control::placeholder {
    caret-color: #333333;
}